{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000000"/>

    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static '/assets/styles/tailwind.css' %}"/>
    <link rel="icon" href="{% static '/assets/img/blogimage.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"/>

    {% tailwind_css %}
    <title>Blog - {% block title %}{% endblock %}</title>
</head>
<body class="text-blueGray-700 antialiased">

<main>

    {% block blog-content %}{% endblock %}

    {% block news-content %}{% endblock %}

    {% block create_blog %}{% endblock %}

    {% block auth-content %}{% endblock %}

</main>

</body>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script>
    /* Make dynamic date appear */
    (function () {
        if (document.getElementById("get-current-year")) {
            document.getElementById("get-current-year").innerHTML =
                new Date().getFullYear();
        }
    })();

    /* Function for opning navbar on mobile */
    function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("block");
    }

    /* Function for dropdowns */
    function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
            element = element.parentNode;
        }
        Popper.createPopper(element, document.getElementById(dropdownID), {
            placement: "bottom-start"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
    }
</script>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            const addSectionButton = document.getElementById('add-section');
            const sectionsContainer = document.getElementById('sections');
            const sectionFormTemplate = sectionsContainer.querySelector('.section-form').cloneNode(true);

            addSectionButton.addEventListener('click', function() {
                const newSectionForm = sectionFormTemplate.cloneNode(true);
                const formCount = sectionsContainer.querySelectorAll('.section-form').length;

                newSectionForm.setAttribute('data-index', formCount);
                newSectionForm.querySelectorAll('input, textarea, select').forEach(input => {
                    const name = input.getAttribute('name').replace(/\d+/, formCount);
                    const id = input.getAttribute('id').replace(/\d+/, formCount);
                    input.setAttribute('name', name);
                    input.setAttribute('id', id);
                    input.value = '';
                });

                sectionsContainer.appendChild(newSectionForm);
            });
        });
    </script>
</html>