{% load static %}

<section class="pb-20 -mt-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                            <i class="fa fa-book"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Blogs</h6>
                        <p class="mt-2 mb-4 text-blueGray-500">
                            This section holds all the blogs explore it by clicking button below.
                        </p>
                        <a href="{% url 'category:blog' %}" class="bg-red-400 text-white active:bg-blueGray-600 text-xs tracking-wide uppercase px-3 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">
                            Explore
                            <i class="fa fa-arrow-alt-circle-right ml-3"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                            <i class="fas fa-newspaper"></i>
                        </div>
                        <h6 class="text-xl font-semibold">News</h6>
                        <p class="mt-2 mb-4 text-blueGray-500">
                            This section holds all the news explore it by clicking button below.
                        </p>
                        <a href="{% url 'category:blog' %}" class="bg-lightBlue-400 text-white active:bg-blueGray-600 text-xs tracking-wide uppercase px-3 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">
                            Explore
                            <i class="fa fa-arrow-alt-circle-right ml-3"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                            <i class="fa fa-search-minus"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Find</h6>
                        <p class="mt-2 mb-4 text-blueGray-500">
                            You are bored scrolling blogs?? Don't worry click the button below and Find out what else
                            this site holding
                        </p>
                        <a href="{% url 'category:blog' %}" class="bg-emerald-400 text-white active:bg-blueGray-600 text-xs tracking-wide uppercase px-3 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">
                            Explore More
                            <i class="fa fa-arrow-alt-circle-right ml-3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>