{% load static %}
{% block hero-section %}
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
        <div class="absolute top-0 w-full h-full bg-center bg-cover"
             style="background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80');">
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl uppercase">
                            Share your thought
                        </h1>
                        <p class="mt-4 text-lg text-blueGray-300">
                            The platform was created for you and others like you to share your thoughts on specific
                            topics with everyone in the world. Simply pick up your device and write about any topic you
                            want to cover.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}