{% load static %}
{% block header %}
    <nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
                <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                   href="{% url 'dashboard' %}">Blog App</a>
                <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                        type="button" onclick="toggleNavbar('example-collapse-navbar')">
                    <i class="text-white fas fa-bars"></i>
                </button>
            </div>
            <div class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none hidden"
                 id="example-collapse-navbar">
                <ul class="flex flex-col lg:flex-row list-none lg:ml-auto items-center">
                    <li class="inline-block relative">
                        <a class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold cursor-pointer"
                           onclick="openDropdown(event,'demo-pages-dropdown')">
                            Categories
                            <i class="mt-1 ml-2 fa fa-angle-down"></i>
                        </a>
                        <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                             id="demo-pages-dropdown">
                            {% for category in category %}
                                <a href="#"
                                   class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
                                    {{ category.category_name }}
                                </a>
                            {% endfor %}
                            <div class="h-0 mx-4 my-2 border border-solid border-blueGray-100"></div>
                        </div>
                    </li>
                    <li class="flex items-center">
                        <a class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                           href="{% url 'category:blog' %}">
                            blogs
                        </a>
                    </li>
                    <li class="flex items-center">
                        <a class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                           href="{% url 'category:blog' %}">
                            News
                        </a>
                    </li>
                    <li class="flex items-center">
                        <a class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                           href="#">
                            <i class="lg:text-blueGray-200 text-blueGray-400 fa fa-search text-lg leading-lg"></i>
                        </a>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="flex items-center">
                            <a href="{% url 'account:login' %}"
                               class="bg-white text-blueGray-700 active:bg-blueGray-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                               type="button">
                                <i class="fas fa-user-alt"></i>
                                Login
                            </a>
                        </li>
                    {% else %}
                        <li class="flex items-center">
                            <form action="{% url 'account:logout' %}" method="post"
                                  class="bg-white text-blueGray-700 active:bg-blueGray-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                                  type="button">
                                {% csrf_token %}

                                <button type="submit" class=""><i class="fas fa-user-alt mr-3"></i>Logout</button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}