{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block hero-section %}
    {% include 'components/hero-section.html' %}
{% endblock %}

{% block content %}
    {% include 'components/about.html' %}
    {% include 'components/blogs.html' %}
{% endblock %}

{% block contact %}
    {% include 'components/contact.html' %}
{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}