{% extends 'customadmin/base.html' %}
{% load static %}

{% block title %}
    Admin Blogs
{% endblock %}

{% block contents %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="uppercase ml-3 text-3xl font-bold mb-5 text-black">Blogs</h1>
            <div class="absolute text-sm rounded right-10 top-10 bg-gray-500 w-fit h-fit px-3 py-1">
                <a href="{% url 'category:add' %}" class="text-center text-white">Add Blogs</a>
            </div>
            <section class="text-gray-600 body-font">
                <div class="container px-5 py-3 mx-auto">
                    <div class="flex flex-wrap -m-4 gap-6">
                        {% for blog in blogs %}
                            <div class="min-w-[12rem] max-w-[20rem] w-[30vw]">
                                <a class="block relative h-24 rounded overflow-hidden">
                                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                                         src="{{ blog.image.url }}">
                                </a>
                                <div class="mt-4">
                                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ blog.category.category_name }}</h3>
                                    <h2 class="text-gray-900 title-font text-lg font-medium">{{ blog.title }}</h2>
                                    <p class="mt-1">{{ blog.content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}