{% extends 'customadmin/base.html' %}
{% load static %}

{% block title %}
    Admin Categories
{% endblock %}

{% block contents %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            {% if messages %}
                <ul class="messages text-red-500">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1 class="uppercase ml-3 text-3xl font-bold mb-5 text-black">Categories</h1>
            <div class="absolute text-sm rounded right-10 top-10 bg-gray-500 w-fit h-fit px-3 py-1">
                <a href="{% url 'customadmin:add' %}" class="text-center text-white">Add Categories</a>
            </div>
            <section class="text-gray-600 body-font">
                <div class="container px-5 py-3 mx-auto">
                    <div class="flex flex-wrap -m-4 gap-6">
                        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
                            <table class="table-auto w-full text-left whitespace-no-wrap">
                                <thead>
                                <tr>
                                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                        S.No.
                                    </th>
                                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                        Category Name
                                    </th>
                                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                        Slug
                                    </th>
                                    <th colspan="2"
                                        class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                        Actions
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for category in category %}
                                    <tr>
                                        <td class="px-4 py-3">{{ forloop.counter }}</td>
                                        <td class="px-4 py-3 capitalize">{{ category.category_name|capfirst }}</td>
                                        <td class="px-4 py-3">{{ category.slug }}</td>
                                        <td class="px-4 py-3">
                                            <a href="{% url 'customadmin:delete' category.slug %}"
                                               class="text-sm py-1 px-3 bg-red-500 text-white shadow-lg font-semibold w-fit rounded-md outline-none"
                                               type="submit">
                                                Delete
                                            </a>
                                        </td>
                                        <td class="px-4 py-3">
                                            <a href="{% url 'customadmin:update' category.slug %}"
                                               class="text-sm py-1 px-3 bg-green-500 text-black shadow-lg font-semibold w-fit rounded-md outline-none">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}