{% extends 'customadmin/base.html' %}
{% load static %}

{% block title %}
    Admin Users
{% endblock %}

{% block contents %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="uppercase ml-3 text-3xl font-bold mb-5 text-black">Users</h1>
            <div class="flex flex-wrap -m-2 gap-6">
                {% for account in account %}
                    <div class="max-w-[20rem] min-w-[12rem] w-[30vw]">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                 class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                 src="{{ account.image }}" />
                            <div class="flex-grow">
                                {% with full_name=account.first_name|stringformat:"s "|add:account.last_name %}
                                    <h2 class="text-gray-900 title-font font-medium">{{ full_name }}</h2>
                                {% endwith %}
                                <p class="text-gray-500">Username: {{ account.username }}</p>
                                <p class="text-gray-500 text-xs">{{ account.email }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}